:root {
    --yellow: #fae100;
    --horizontal-space: 20px;
    --main-border: 1px solid rgba(0, 0, 0, 0.1);
    --gray: rgba(0, 0, 0, 0.3);
    --bg-black: #111;
    --bg-light-black: #45454a;
    --light-blue: #05ebf5;
    --neo-blue: #1e9bff;
    --white: #d5d5d5;
}
