.welcome-header {
    margin: 80px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.welcome-header__title {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 400;
}

.welcome-header__text {
    margin-top: 15px;
    text-align: center;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 300;
    width: 75%;
}

.login-bg {
    margin: 0px 30px;
    position: relative;
    height: 500px;
    overflow: hidden;
    z-index: 0;
    padding: 3px;
    border-radius: 8px;
}

@keyframes rotateAni {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.login-bg::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        transparent,
        var(--light-blue),
        var(--light-blue)
    );
    transform-origin: bottom right;
    animation: rotateAni 5s linear infinite;
    animation-delay: -2.5s;
    z-index: 0;
}

.login-bg::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        transparent,
        var(--light-blue),
        var(--light-blue)
    );
    transform-origin: bottom right;
    animation: rotateAni 5s linear infinite;
    z-index: 0;
}

#login-form {
    position: absolute;
    background-color: var(--bg-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border-radius: 8px;
    padding: 5px;
}

#login-form .input-box {
    position: relative;
    margin-top: 25px;
    width: 80%;
}

#login-form input {
    height: 50px;
    width: 100%;
    font-size: 1.3em;
    position: relative;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    color: var(--bg-black);
    z-index: 2;
}

#login-form .input-box span {
    position: absolute;
    top: 0;
    left: 0;
    color: #8f8f8f;
    padding: 20px 10px 10px;
    font-size: 1.3em;
    transition: 0.5s;
    pointer-events: none;
}

#login-form .input-box input:valid ~ span,
#login-form .input-box input:focus ~ span {
    color: var(--light-blue);
    transform: translateX(-10px) translateY(-90%);
    font-size: 1em;
}

#login-form .input-box i {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: var(--light-blue);
    border-radius: 4px;
    pointer-events: none;
    transition: 0.5s;
}

#login-form .input-box input:valid ~ i,
#login-form .input-box input:focus ~ i {
    height: 100%;
}

/* #login-form input::placeholder {
    color: var(--light-blue);
    opacity: 0.5;
} */

#login-form button {
    border: none;
    height: 50px;
    margin: 5px 0px;
    font-size: 18px;
    width: 80%;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: color 0.5s, letter-spacing 0.5s, border-color 0.5s;
    background-color: var(--bg-black);
    position: relative;
    border: 2px solid white;
    color: white;
}

#login-form button:hover {
    letter-spacing: 0.25em;
    border-color: var(--neo-blue);
    box-shadow: 0px 0px 25px var(--neo-blue);
    color: var(--neo-blue);
}

#login-form button i {
    position: absolute;
    display: block;
    inset: 0px;
}

#login-form button i:before {
    content: "";
    position: absolute;
    top: -2px;
    left: 80%;
    width: 10px;
    height: 4px;
    background-color: var(--bg-black);
    transform: skewX(325deg) translateX(-50%);
    transition: 0.5s;
}

#login-form button:hover i:before {
    width: 20px;
    left: 20%;
}

#login-form button i:after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 20%;
    width: 10px;
    height: 4px;
    background-color: var(--bg-black);
    transform: skewX(325deg) translateX(-50%);
    transition: 0.5s;
}

#login-form button:hover i:after {
    width: 20px;
    left: 80%;
}

#login-form button:nth-of-type(1) {
    margin-top: 30px;
}

#login-form a {
    color: inherit;
    margin-top: 10px;
    text-decoration: none;
}
