.badge-dot {
    display: block;
    width: 5px;
    height: 5px;
    background-color: #ff6129;
    border-radius: 50%;
}

.badge-num {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff6129;
    font-size: small;
    font-weight: 600;
    color: #f9f9fa;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
