.icon-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-row__icon span {
    flex: 1;
    height: 20px;
}

.icon-row__icon span:nth-child(2) {
    margin-top: 28px;
}
