#no-mobile {
    position: absolute;
    top: 0;
    width: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    font-size: 32px;
    flex-direction: column-reverse;
}

@media screen and (max-width: 650px) {
    #no-mobile {
        display: none;
    }
}
